<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="Rindra">
        <title>{% block title %}Rindra Application{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheet %}
            <link rel="stylesheet" type="text/css" href="{{ asset('theme/css/style.default.css') }}">
        {% endblock %}

    </head>
        <body>
            {% block entete %}
                <header>
                    <div class="headerwrapper">
                        <div class="header-left">
                            <a href="index-2.html" class="logo">
                                <img src="{{ asset('theme/images/logo.png') }}" alt="logo" />
                            </a>

                            {% if app.user %}
                            <div class="pull-right">
                                <a href="#" class="menu-collapse">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </div>
                            {% endif %}
                        </div><!-- header-left -->

                        {% if app.user %}
                            <!-- pull-right -->
                            {{ include(':entete:entete_droite.html.twig') }}
                            <!-- header-right -->
                        {% endif %}

                    </div><!-- headerwrapper -->
                </header>
            {% endblock %}
            <section>
                <div class="mainwrapper">
                    {% block contenu %}
                        {% if app.user %}
                            <div class="leftpanel">
                                {% block leftpanel %}

                                        <!-- profile du gauche -->
                                        {% include(':sous_entete:profile_gauche.html.twig') %}
                                        <!-- END profile du gauche -->

                                        <!-- menu -->
                                        {% include('::menu.html.twig') %}
                                        <!-- END menu -->

                                {% endblock %}
                            </div>
                        {% endif %}

                        <div class="mainpanel">
                            {% block mainpanel %}
                                <!-- page header -->
                                {% include(':sous_entete:page_header.html.twig') %}
                                <!-- END page header -->
                            {% endblock %}
                        </div>
                    {% endblock %}
                </div>
            </section>

        </body>

        {% block javascripts %}
            <script src="{{ asset('theme/js/jquery-1.11.1.min.js') }}"></script>
            <script src="{{ asset('theme/js/jquery-migrate-1.2.1.min.js') }}"></script>
            <script src="{{ asset('theme/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('theme/js/modernizr.min.js') }}"></script>
            <script src="{{ asset('theme/js/pace.min.js') }}"></script>
            <script src="{{ asset('theme/js/retina.min.js') }}"></script>
            <script src="{{ asset('theme/js/jquery.cookies.js') }}"></script>
            <script src="{{ asset('theme/js/custom.js') }}"></script>
        {% endblock %}
</html>
