{% extends "::base.html.twig" %}

{% block contenu %}
    <div class="well col-lg-6 col-lg-offset-3">
        <form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">
            {#{{ form_widget(form) }}#}
            {#<div>#}
                {#<input type="submit" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />#}
            {#</div>#}
            <span class="text-danger">{{ form_errors(form) }}</span>
            <div class="form-group">
                {{ form_label(form.current_password, null, {
                    'label_attr': {'class': 'col-md-3 control-label'}
                }) }}

                <div class="col-md-6">
                    {{ form_widget(
                    form.current_password,
                    {'attr' : {'class': 'form-control'}}
                    )}}
                </div>
                <span class="text-danger">{{ form_errors(form.current_password) }}</span>
            </div>

            <div class="form-group">
                {{ form_label(form.new.first, null, {
                    'label_attr': {'class': 'col-md-3 control-label'}
                }) }}

                <div class="col-md-6">
                    {{ form_widget(
                    form.new.first,
                    {'attr' : {'class': 'form-control'}}
                    )}}
                </div>
                <span class="text-danger">{{ form_errors(form.new.first) }}</span>
            </div>

            <div class="form-group">
                {{ form_label(form.new.second, null, {
                    'label_attr': {'class': 'col-md-3 control-label'}
                }) }}

                <div class="col-md-6">
                    {{ form_widget(
                    form.new.second,
                    {'attr' : {'class': 'form-control'}}
                    )}}
                </div>
                <span class="text-danger">{{ form_errors(form.new.second) }}</span>
            </div>
            {{ form_rest(form) }}

            <input type="submit" class="btn btn-success center-block" value="{{ 'change_password.submit'|trans({}, 'FOSUserBundle') }}" />
        </form>
    </div>
{% endblock %}
